body{
    background-color: bisque;
}

h1 {
    border-style: groove;
}

p {
    border-style: ridge;
    border-radius: 4px;
    background-color: burlywood;
}

img {
    border-radius: 7px;
    margin: 5px 10px;
    display: block;
    width: fit-content;
}

figure {
    margin: 5px 10px;
    padding: 7px;
    display: block;
    width: fit-content;
}
