body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

nav {
    text-align: center;
    color:white;
    padding: 30px;
    
}
article {
    float: left;
    width: 30%;
    background: #ccc;
    padding: 20px;
    height: auto;
}

nav ul {
    background-color: 0;
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin:auto;
}

section {
    float: left;
    text-align: left;
    padding: 20px;
    width: 70%;
    background-color:whitesmoke;
    height: auto;
    margin: 40px;
}

section::after {
    content: "";
    display: table;
    clear: both;
}
  
a:hover {
    color: red;
}
