body{
    background-color: bisque;
}

h1 {
    border-style: groove;
}

p {
    border-style: ridge;
    border-radius: 4px;
    background-color: burlywood;
}

img {
    border: 5px solid black;
}

figure {
    border: 5px solid black;
}
