body {
    background-color: whitesmoke;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header {
    color: black;
    background-color: #666;
    padding: 30px;
    text-align: center;
}

nav {
    align-items: center;
    align-content: center;
    color: black;
    background-color: #666;
    padding: 20px;
    
}

nav ul {
    float: left;
    width: 30%;
    list-style-type: none;
    padding: 0;
}

section {
    align-content: center;
    align-items: center;
    float: left;
    width: 70%;
    color: black;
    background-color: #666;
}

h1 {
    color: black;
    font-size: 20px;
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
}

p {
    color: black;
    font-size: 12px;
}

a:hover {
    color: red;
}

ol {
    color: white;
    list-style-type: lower-latin;
}

ul {
    color: white;
    list-style-type: square;
}

footer {
    text-align: center;
    color:white;
    background-color: #666;
    padding: 10px;
}

p {
    text-align: center;
}

a {
    text-align: center;
}
