body {
    background-color: whitesmoke;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#header {
    color: black;
    background-color: #666;
}

#nav {
    background-color: #666;
}

#section {
    color: black;
    background-color: #666;
}

h1 {
    color: black;
    font-size: 20px;
}

p {
    color: black;
    font-size: 12px;
}

.element1 {
    border-width: 2px;
    border-style: dotted;
    height: 100px;
    width: 100px;
    color: black;
}

ol {
    color: white;
    list-style-type: lower-latin;
}

ul {
    color: white;
    list-style-type: square;
}
